<div class="jumbotron">
<h1>About</h1>
<p>We are providing a best time efficient training on ruby on rails(ROR). Its a two week training, which contain everything from the screech.</p>
<% if user_signed_in? %>
<% else %>
<p><a class="btn btn-primary btn-lg" href="#" role="button">Sing up</a></p>
<% end %>
</div>