<div class="jumbotron center">
  <h1>Welcome to the ROR Training</h1>
  <% if user_signed_in? %>
  # Now you are Authorized User for taking a session..!!
  	<% else %>
  <p>This is Akshar</p>
  <p>
  	<%= link_to "Log in", new_user_session_path, class: "btn btn-defult btn-lg" %>
  	<%= link_to "Sing up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
  	<% end %>
</div>


